.files {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0em;
    position: relative;
}
.files li {
    height:120px;
    width:120px;
    position: relative;
    display: inline-block;
    margin:10px;
    border: 3px dashed #ccc;
    border-radius: 20px;
}
.files li>.file-name{
  text-align: center;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.files li:before {
    width: 64px;
    height: 64px;
    content: "";
    line-height: 64px;
    display: block;
    text-align: center;
    margin: 22px auto 4px auto;
}
.files li.pdf:before {
    content: url(../images/filetype/pdf.png);
}
.pdf{
  background-image: url(../images/filetype/pdf32.png);
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
.doc{
  background-image: url(../images/filetype/doc32.png);
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
.xls{
  background-image: url(../images/filetype/xls32.png);
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
.file-progress{
  margin: 7px 0px;
}
/*写真*/
.photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0em;
    position: relative;
}
.photos li {
    height:130px;
    width:130px;
    position: relative;
    display: inline-block;
    margin:10px;
}

.photos .photo.add {
    border:3px dashed #ccc;
    padding-top: 30px;
    font-size:3em;
    text-align: center;
    color:#ccc;
    cursor:pointer;
}
.photos .photo.add:hover {
    border:3px dashed #fa7d3c;
    color:#fa7d3c;
}
.photos>.photo>img{
    height:130px;
    width:130px;
}
.photos .photo.pass {
    background-size:contain;
    background-repeat:no-repeat;
}
.photos .photo .control-panel {
    position: absolute;
    left: 0px;
    top: 0px;
    border:none;
    background:#000000;
    width:100%;
    height:100%;
    opacity:0;
    cursor:move;
}
.photos>.photo>.overlay-panel{
    width:100%;
    height:100%;
    border: 3px dashed #ccc;
}
.photos .photo .control-panel:hover {
    opacity:0.5;
}
.photos .photo .control-panel button {
    border:none;
    background:transparent;
    color:#ffffff; 
    font-size:1.5em;
    margin: 0px 5px;
}
/**/
.photo-modal-dialog>.modal-header{
  padding: 0px;
}
.photo-modal-dialog>.modal-header>button{
  color:#ffffff;
  opacity:1;
  font-size:2em;
  margin: 5px 0px;
}
.photo-modal-img{
  overflow-x: scroll;
}

.box.box-danger.tab-box{
  margin-top: 10px;
  display: none;
}
.box.box-danger.tab-box.active{
  display: block;
}
.sub-box-table{
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal-title{
  font-weight: bold;
}

.steps{
  background-color: #fff;
  border-top:3px solid #dd4b39;
  border-bottom:3px solid #dd4b39;
}
.steps>.step-title{
  color:#000000;
  font-size:14px;
  padding: 5px;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.step-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 5px 0px;
}
.step-bar li {
    list-style-type: none;
    width: 16.5%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    z-index: 0;
}
.step-bar li:before {
    width: 72px;
    height: 72px;
    content: "";
    line-height: 72px;
    display: block;
    text-align: center;
    margin: 22px auto 4px auto;
}

.step-bar li.active:before{
  border: 1px solid #d90000;
  background-color: #fff;
}
/*管理情報*/
.step-bar li.management-icon:before{
  content: url("../images/1-management.jpeg");
}
.step-bar li.active.management-icon:before {
  content: url("../images/1-management-active.jpeg");
}
/*ファイル*/
.step-bar li.file-icon:before{
  content: url("../images/2-file.jpeg");
}
.step-bar li.active.file-icon:before {
    content: url("../images/2-file-active.jpeg");
}
/*報告者*/
.step-bar li.reporter-icon:before{
  content: url("../images/3-reporter.jpeg");
}
.step-bar li.active.reporter-icon:before {
    content: url("../images/3-reporter-active.jpeg");
}
/*患者*/
.step-bar li.patient-icon:before{
  content: url("../images/4-patient.jpeg");
}
.step-bar li.active.patient-icon:before {
    content: url("../images/4-patient-active.jpeg");
}
/*薬剤*/
.step-bar li.drug-icon:before{
  content: url("../images/5-drug.jpeg");
}
.step-bar li.active.drug-icon:before {
    content: url("../images/5-drug-active.jpeg");
}
/*有害事象*/
.step-bar li.harmful-icon:before{
  content: url("../images/6-harmful.jpeg");
}
.step-bar li.active.harmful-icon:before {
    content: url("../images/6-harmful-active.jpeg");
}
/*その他*/
.step-bar li.other-icon:before{
  content: url("../images/7-other.jpeg");
}
.step-bar li.active.other-icon:before {
    content: url("../images/7-other-active.jpeg");
}
.step-bar li:not(:last-child)::after{
    width: 100%;
    content: '';
    position: absolute;
    top: 53px;
    border:2px dashed #db2828;
    left:50%;
    z-index: -1;
}
.step-bar li>.step-check-cnt{
  position: absolute;
  left:50%;
  bottom: 0px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #dd4b39;
  color: #fff;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}
.step-check-cnt>.check-cnt{
  padding-top: 4px;
}
.step-header-title{
  width: 100%;
  position: absolute;
  top:0px;
}

.input-group.form-calendar,
.input-group.form-calendar4 {
    width:249px;
}
.input-group.form-calendar2 {
    width:620px;
}
.input-group.form-calendar3 {
    width:357px;
}

table.no-margin tr th {
    word-break: keep-all;
}
table.no-margin tr th:first-child {
    position:absolute;
    background-color:#f3f3f3;
    padding-left:49px;
}
table.no-margin tr td:first-child {
    position:absolute;
    background-color:#ffffff;
    padding:6px 8px; 
}
button.btn-item-edit,
button.btn-item-edit:hover,
button.btn-item-edit:focus {
    background-image:none;
    background-color:#00a65a;
    border-color:#00a65a;
}

.must_input_color {
    background-color:#ffffff;
}
.fileinput-button input {
    position: absolute;
    top: 0px;
    left: 15px;
    opacity: 0;
    width: 125px;
    height: 34px;
    cursor: pointer;
}
.box3-top{
  margin-top: 15px;
}
table.no-margin tr td:nth-child(2) {
    width: 80px;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){

}
@media screen and (max-width: 767px){
  .navbar-top-pc{
    display: none;
  }
  .navbar-top-phone{
    display: block;
  }
  .button-bars button .button_text{
    display: none;
  }
  .step-bar li {
    width: 33%;
  }
  .step-bar li:nth-child(3)::after{
    display: none;
  }
  .steps>.step-title{
    text-align: center;
  }
  .row.input-group-border{
    padding: 10px;
  }
  .col-sm-item{
    margin-bottom: 5px;
  }
  
  .input-group.form-calendar2,
  .input-group.form-calendar3 {
    width:295px;
  }
  .input-group.form-calendar4 {
    width:150px;
  }
  .box-tools button.btn.btn-default.btn-sm .button_text {
    display:none;
  }
}